<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="">
    <clear />
    <add key = "BaudRate" value = "9600"/>
    <add key = "PortName" value = "COM3"/>
    <add key = "ReadTimeout" value = "1000"/>
    <add key = "TimerInterval" value = "300"/>
    <add key = "Descripcion1" value = "Control 1"/>
    <add key = "Descripcion2" value = "Control 2"/>
    <add key = "Descripcion3" value = "Control 5"/>
    <add key = "Descripcion4" value = "Control 4"/>
    <add key = "Descripcion5" value = "Control 5"/>
    <add key = "Descripcion6" value = "Control 6"/>
  </appSettings>
</configuration>